* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  color-scheme: light dark;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #f9f9f9;
  overflow-x: hidden;
}
