* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary: #673ab7;
  --secondary: #ede7f6;
  --body: #f9f9f9;
}

html {
  scroll-behavior: smooth;
  color-scheme: light dark;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--body);
  overflow-x: hidden;
}
